<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Brandeis University</title>
<link rel="stylesheet" type="text/css" href="/assets/front_page.css" />
<link rel="stylesheet" type="text/css" href="/assets/js/cluetip/jquery.cluetip.css" />
<link rel="icon" type="image/ico" href="themes/brandeis/images/archon.ico"/>
<!--[if lte IE 7]>
  <link rel="stylesheet" type="text/css" href="/assets/front_page_ie.css" />
  <link rel="stylesheet" type="text/css" href="themes/themes/brandeis/js/cluetip/jquery.cluetip.ie.css" />
<![endif]-->
<script type='text/javascript' src='/assets/js/jquery.min.js'></script>
<script type='text/javascript' src='packages/core/js/jquery-ui.custom.min.js'></script>
<script type="text/javascript" src="/assets/js/jquery.hoverIntent.js"></script>
<script type="text/javascript" src="/assets/js/cluetip/jquery.cluetip.js"></script>
<script type="text/javascript" src="/assets/js/jquery.corner.js"></script>
<script type="text/javascript" src="/assets/js/jquery.scrollTo-min.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
imagePath = 'themes/brandeis/images';
$(document).ready(function() {
	$('div.listitem:nth-child(even)').addClass('evenlistitem');
	$('div.listitem:last-child').addClass('lastlistitem');
	$('#locationtable tr:nth-child(odd)').addClass('oddtablerow');
});



$(document).ready(function() {externalLinks();});
$(window).unload(function() {});
/* ]]> */
</script>
</head>
<body>




<div id="page"  >


<!-- BEGIN MAIN CONTENT AREA-->
<div id="home">


<div id ="home-images">

<div class="home-col"><img src="/assets/images/aspace_home/col-1/<%= @img1 %>" alt="" /></div><div class="home-col"><img src="/assets/images/aspace_home/col-2/<%= @img2 %>" alt="" /></div><div class="home-col"><img src="/assets/images/aspace_home/col-3/<%= @img3 %>" alt="" /></div>   
    
</div>

<br class="clear" />

<div id ="home-content">
    <div class="home-col">
        <h2>Our Collections</h2>
    
        <h3>University Archives</h3>
         <p>Collections that document the history and development of Brandeis University and its faculty, staff, students, and alumni. Materials include student and university publications, photographic images, university records, theses, sound and audiovisual recordings, posters, maps, architectural plans, memorabilia, and more.</p>
        
      <h3>Special Collections</h3>
        <p>A broad array of rare and unique primary-source materials on a range of topics. The collection, spanning primarily the fifteenth through twentieth centuries, is comprised of rare books, manuscripts, archival collections, periodical collections, and visual and artistic collections.</p> 
  </div>
    
    <div class="home-col">
        <h2>Browse</h2>
        <p>You may browse all collections available for research. Finding aids (guides) are available for collections that are fully processed. Partially processed or unprocessed collections contain brief descriptions of collection contents.</p>
      <ul id="home-browse">
        <li><a href="http://archivesspace.unet.brandeis.edu/search?filter_term[]={%22primary_type%22%3A%22resource%22}&page=1">Browse Collections by Title</a></li>
        <li><a href="http://libsys-sandbox.unet.brandeis.edu:8081/search?type=subject">Browse Collections by Subject</a></li>
        <li><a href="http://archivesspace.unet.brandeis.edu/search?type=agent">Browse Collections by Creator</a></li>
        </ul>   
    </div>
    
  <div class="home-col">
    <h2>Search</h2>
    <div id="home-search">
    <p><strong>Enter keyword(s):</strong></p>
     <form action="/search" accept-charset="UTF-8" method="get" onsubmit="if(!this.q.value) { alert('Please enter search terms.'); return false; } else { return true; }">
     <div>
	  <label for='qfa'></label><input type="text" size="25" maxlength="150" name="q" id="qfa" value="" tabindex="100" />
      <input type="submit" value="Search" tabindex="300" class='button' title="Search" />
    </div>
    </form>
    <div> <p><strong>Search Tips</strong></p>
     <p>The search engine looks for records containing every term you submit.       </p>
     <p>To search by phrase, use double quotes around your search query.       </p>
     <p>To narrow your search results, use a minus sign before a term you want to omit from your results. </p></div>
    </div>
     <p>More ways to search our collections:</p>
     <p><a href="http://search.library.brandeis.edu">Brandeis OneSearch</a></p>
<!--     <p><a href="http://louis.brandeis.edu">LOUIS Catalog</a></p>
     <p><a href="http://loufind.brandeis.edu">LouFind Catalog</a> </p> -->
  </div>

</div> 
<br class="clear" />
</div></div> <!-- close main and inner-main divs -->

</div> <!-- close page div -->
</body>
</html>
